# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
from scipy.stats import linregress
import json

# Import API key
from api_keys import g_key
g_key

'AIzaSyDEw4LHz2yaa1ea_3VK1GHDi3QWKqWV-_Q'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("cities.csv")
#converts values into Imperial values
weather_data['Max Temp'] = ((weather_data['Max Temp']) - 273.15) * (9/5) + 32
weather_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,31,NZ,1594930817,83,-46.19,168.86,39.002,1.34
1,1,Korla,7,CN,1594853672,23,41.76,86.15,82.184,5.64
2,2,New Norfolk,6,AU,1594935396,77,-42.78,147.06,41.000,1.79
3,3,Busselton,61,AU,1594855224,87,-33.65,115.33,55.004,5.54
4,4,Porto Torres,40,IT,1594872511,60,40.84,8.40,75.200,6.20
...,...,...,...,...,...,...,...,...,...,...
566,566,Kalmunai,100,LK,1594858999,76,7.42,81.82,82.400,2.24
567,567,Coquimbo,0,CL,1594899531,71,-29.95,-71.34,55.400,3.10
568,568,Havøysund,100,NO,0,81,71.00,24.66,64.400,1.50
569,569,Bengaluru,90,IN,1594859468,100,12.98,77.60,71.600,5.10
570,570,Mayo,75,US,1594893238,69,38.89,-76.51,82.400,3.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store 'Lat' and 'Lng' into  locations 
#weather_data = weather_data.dropna()
weather_data_hum = weather_data[["Lat", "Lng","Humidity"]].astype(float)
gmaps.configure(api_key=g_key)

# Convert to float and store
# HINT: be sure to handle NaN values
locations = weather_data_hum[["Lat", "Lng"]].astype(float)
hum_data = weather_data_hum["Humidity"].astype(float)
locations

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=hum_data, dissipating=False, max_intensity=200, point_radius = 5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
weather_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,31,NZ,1594930817,83,-46.19,168.86,39.002,1.34
1,1,Korla,7,CN,1594853672,23,41.76,86.15,82.184,5.64
2,2,New Norfolk,6,AU,1594935396,77,-42.78,147.06,41.000,1.79
3,3,Busselton,61,AU,1594855224,87,-33.65,115.33,55.004,5.54
4,4,Porto Torres,40,IT,1594872511,60,40.84,8.40,75.200,6.20
...,...,...,...,...,...,...,...,...,...,...
566,566,Kalmunai,100,LK,1594858999,76,7.42,81.82,82.400,2.24
567,567,Coquimbo,0,CL,1594899531,71,-29.95,-71.34,55.400,3.10
568,568,Havøysund,100,NO,0,81,71.00,24.66,64.400,1.50
569,569,Bengaluru,90,IN,1594859468,100,12.98,77.60,71.600,5.10
570,570,Mayo,75,US,1594893238,69,38.89,-76.51,82.400,3.10

In [5]:
weather_crit = weather_data.loc[(weather_data['Max Temp'] < 80) & (weather_data['Max Temp'] > 70) & 
                               (weather_data['Wind Speed'] < 10) & (weather_data['Cloudiness'] == 0),:]
weather_crit

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
9,9,Monte Carmelo,0,BR,1594892545,44,-18.72,-47.50,76.784,4.58
55,55,Severnoye,0,RU,1594851646,90,56.35,78.36,71.042,3.42
111,111,Zverinogolovskoye,0,RU,1594855597,66,54.46,64.85,74.552,2.84
204,204,Labuhan,0,ID,1594853054,80,-6.88,112.21,78.422,4.06
232,232,Gongzhuling,0,CN,1594844051,60,43.50,124.82,75.056,4.06
266,266,Tevriz,0,RU,1594852593,81,57.51,72.40,75.686,2.40
313,313,Fuxin,0,CN,1594845096,74,42.02,121.66,75.236,4.05
333,333,Sambava,0,MG,1594868656,74,-14.27,50.17,73.508,7.68
358,358,Ongandjera,0,NaN,1594877443,20,-17.88,15.07,73.364,5.21
419,419,Boli,0,CN,1594842208,71,45.77,130.52,72.050,2.23
434,434,Askino,0,RU,1594856981,81,56.09,56.58,78.854,1.60
500,500,Vallenar,0,CL,1594899223,16,-28.57,-70.76,76.352,2.17
539,539,Krutinka,0,RU,1594853425,72,56.01,71.51,70.610,2.22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
#add colum to df
weather_crit['Hotel Name'] = ""

# geocoordinates
# target_coordinates = weather_crit["Lat","Lng"]
#target_search = "hotel"
#target_radius = 5000
#target_type = "hotel"

# set up a parameters dictionary
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in weather_crit.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        weather_crit.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.
Missing field/result... skipping.

In [ ]:
hotel_df = weather_crit

# this is done to drop the empty values that Google couldn't retrieve a hotel name for, so that only the hotels that came up are ampped
nan_value = float("NaN")
weather_crit.replace("", nan_value, inplace=True)
weather_crit.dropna(subset = ["Hotel Name"], inplace=True)

weather_crit

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
# Store 'Lat' and 'Lng' into  locations 
#weather_data = weather_data.dropna()
weather_data_hum = weather_data[["Lat", "Lng","Humidity"]].astype(float)
gmaps.configure(api_key=g_key)

# Convert to float and store
# HINT: be sure to handle NaN values -> already did above!
locations = weather_data_hum[["Lat", "Lng"]].astype(float)
hum_data = weather_data_hum["Humidity"].astype(float)
locations

# create the lat and lng for the filtered hotel selections
hotel_lat_lng = weather_crit[["Lat","Lng"]].astype(float)


fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=hum_data, dissipating=False, max_intensity=200, point_radius = 5)
fig.add_layer(heat_layer)
markers = gmaps.marker_layer(hotel_lat_lng)
fig.add_layer(markers)


fig

# ADD MARKERS HERE NOW

# Display figure